Repository blitzy-public-samples/whatsappbot-sx1cxc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @api-gateway-team, @security-team, @message-service-team, @contact-service-team, @template-service-team, @analytics-service-team, @frontend-team, @devops-team, @qa-team, @database-team, @technical-writers

Add public-samples/whatsappbot-sx1cxc/infrastructure/terraform/aws/ecr/main.tf
  infrastructure/terraform/aws/ecr/main.tf
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/infrastructure/terraform/aws/eks/main.tf
  infrastructure/terraform/aws/eks/main.tf
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/infrastructure/terraform/aws/rds/main.tf
  infrastructure/terraform/aws/rds/main.tf
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/infrastructure/terraform/aws/redis/main.tf
  infrastructure/terraform/aws/redis/main.tf
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/infrastructure/terraform/aws/s3/main.tf
  infrastructure/terraform/aws/s3/main.tf
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/infrastructure/terraform/aws/vpc/main.tf
  infrastructure/terraform/aws/vpc/main.tf
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/.env.example
  src/backend/.env.example
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/README.md
  src/backend/README.md
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/Dockerfile
  src/backend/analytics-service/Dockerfile
Owners: @analytics-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/README.md
  src/backend/analytics-service/README.md
Owners: @analytics-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/pyproject.toml
  src/backend/analytics-service/pyproject.toml
Owners: @analytics-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/requirements.txt
  src/backend/analytics-service/requirements.txt
Owners: @analytics-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/__init__.py
  src/backend/analytics-service/src/__init__.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/app.py
  src/backend/analytics-service/src/app.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/config.py
  src/backend/analytics-service/src/config.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/models/__init__.py
  src/backend/analytics-service/src/models/__init__.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/models/metrics.py
  src/backend/analytics-service/src/models/metrics.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/models/reports.py
  src/backend/analytics-service/src/models/reports.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/routes/__init__.py
  src/backend/analytics-service/src/routes/__init__.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/routes/dashboard.py
  src/backend/analytics-service/src/routes/dashboard.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/routes/metrics.py
  src/backend/analytics-service/src/routes/metrics.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/routes/reports.py
  src/backend/analytics-service/src/routes/reports.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/services/__init__.py
  src/backend/analytics-service/src/services/__init__.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/services/aggregator.py
  src/backend/analytics-service/src/services/aggregator.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/analytics-service/src/services/calculator.py
  src/backend/analytics-service/src/services/calculator.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @api-gateway-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @api-gateway-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @api-gateway-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/config/index.ts
  src/backend/api-gateway/src/config/index.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/middleware/auth.ts
  src/backend/api-gateway/src/middleware/auth.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/middleware/rateLimit.ts
  src/backend/api-gateway/src/middleware/rateLimit.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/middleware/validation.ts
  src/backend/api-gateway/src/middleware/validation.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/routes/analytics.ts
  src/backend/api-gateway/src/routes/analytics.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/routes/contacts.ts
  src/backend/api-gateway/src/routes/contacts.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/routes/health.ts
  src/backend/api-gateway/src/routes/health.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/routes/index.ts
  src/backend/api-gateway/src/routes/index.ts
Owners: @project-leads

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @project-leads

# API Gateway service requires both API Gateway team and Security team review
src/backend/api-gateway/*    @api-gateway-team @security-team

# Message service ownership
src/backend/message-service/*    @message-service-team

# Contact service ownership
src/backend/contact-service/*    @contact-service-team

# Template service ownership
src/backend/template-service/*    @template-service-team

# Analytics service ownership
src/backend/analytics-service/*    @analytics-service-team

# Frontend application ownership
src/web/*    @frontend-team

# Infrastructure code requires both DevOps and Security team review
infrastructure/*    @devops-team @security-team

# Security configurations are owned by the Security team
config/security/*    @security-team

# Test suite ownership
src/test/*    @qa-team

# CI/CD workflows require both DevOps and Security team review
.github/workflows/*    @devops-team @security-team

# Database files require both Database team and Security team review
*.sql    @database-team @security-team

# Database configurations require both Database team and Security team review
src/backend/db/*    @database-team @security-team

# Technical documentation is owned by Technical Writers and Project Leads
docs/*    @technical-writers @project-leads
