Repository blitzy-public-samples/whatsappbot-sx1cxc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @api-gateway-team, @security-team, @message-service-team, @contact-service-team, @template-service-team, @analytics-service-team, @frontend-team, @devops-team, @qa-team, @database-team, @technical-writers

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/internal/models/message.go
  src/backend/message-service/internal/models/message.go
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/internal/queue/consumer.go
  src/backend/message-service/internal/queue/consumer.go
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/internal/queue/producer.go
  src/backend/message-service/internal/queue/producer.go
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/internal/repository/message_repository.go
  src/backend/message-service/internal/repository/message_repository.go
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/internal/services/message_service.go
  src/backend/message-service/internal/services/message_service.go
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/internal/services/whatsapp_service.go
  src/backend/message-service/internal/services/whatsapp_service.go
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/internal/utils/validator.go
  src/backend/message-service/internal/utils/validator.go
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/pkg/whatsapp/client.go
  src/backend/message-service/pkg/whatsapp/client.go
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/pkg/whatsapp/types.go
  src/backend/message-service/pkg/whatsapp/types.go
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/template-service/Dockerfile
  src/backend/template-service/Dockerfile
Owners: @template-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/template-service/package.json
  src/backend/template-service/package.json
Owners: @template-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/template-service/tsconfig.json
  src/backend/template-service/tsconfig.json
Owners: @template-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/template-service/src/app.ts
  src/backend/template-service/src/app.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/template-service/src/config/index.ts
  src/backend/template-service/src/config/index.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/template-service/src/models/template.ts
  src/backend/template-service/src/models/template.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/template-service/src/routes/index.ts
  src/backend/template-service/src/routes/index.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/template-service/src/routes/templates.ts
  src/backend/template-service/src/routes/templates.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/template-service/src/services/template-manager.ts
  src/backend/template-service/src/services/template-manager.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/template-service/src/services/template-validator.ts
  src/backend/template-service/src/services/template-validator.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/template-service/src/types/index.ts
  src/backend/template-service/src/types/index.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/.env.test
  src/test/.env.test
Owners: @qa-team

Add public-samples/whatsappbot-sx1cxc/src/test/README.md
  src/test/README.md
Owners: @qa-team

Add public-samples/whatsappbot-sx1cxc/src/test/jest.config.ts
  src/test/jest.config.ts
Owners: @qa-team

Add public-samples/whatsappbot-sx1cxc/src/test/package.json
  src/test/package.json
Owners: @qa-team

Add public-samples/whatsappbot-sx1cxc/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @qa-team

Add public-samples/whatsappbot-sx1cxc/src/test/e2e/config/jest.config.ts
  src/test/e2e/config/jest.config.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/e2e/config/playwright.config.ts
  src/test/e2e/config/playwright.config.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/e2e/fixtures/contacts.json
  src/test/e2e/fixtures/contacts.json
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/e2e/fixtures/messages.json
  src/test/e2e/fixtures/messages.json
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/e2e/fixtures/templates.json
  src/test/e2e/fixtures/templates.json
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/e2e/specs/auth.spec.ts
  src/test/e2e/specs/auth.spec.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/e2e/specs/contacts.spec.ts
  src/test/e2e/specs/contacts.spec.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/e2e/specs/dashboard.spec.ts
  src/test/e2e/specs/dashboard.spec.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/e2e/specs/messages.spec.ts
  src/test/e2e/specs/messages.spec.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/e2e/specs/templates.spec.ts
  src/test/e2e/specs/templates.spec.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/e2e/utils/test-helpers.ts
  src/test/e2e/utils/test-helpers.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/integration/analytics-service/metrics.test.ts
  src/test/integration/analytics-service/metrics.test.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/integration/analytics-service/reports.test.ts
  src/test/integration/analytics-service/reports.test.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/integration/api-gateway/routes.test.ts
  src/test/integration/api-gateway/routes.test.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/test/integration/contact-service/contacts.test.ts
  src/test/integration/contact-service/contacts.test.ts
Owners: @project-leads

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @project-leads

# API Gateway service requires both API Gateway team and Security team review
src/backend/api-gateway/*    @api-gateway-team @security-team

# Message service ownership
src/backend/message-service/*    @message-service-team

# Contact service ownership
src/backend/contact-service/*    @contact-service-team

# Template service ownership
src/backend/template-service/*    @template-service-team

# Analytics service ownership
src/backend/analytics-service/*    @analytics-service-team

# Frontend application ownership
src/web/*    @frontend-team

# Infrastructure code requires both DevOps and Security team review
infrastructure/*    @devops-team @security-team

# Security configurations are owned by the Security team
config/security/*    @security-team

# Test suite ownership
src/test/*    @qa-team

# CI/CD workflows require both DevOps and Security team review
.github/workflows/*    @devops-team @security-team

# Database files require both Database team and Security team review
*.sql    @database-team @security-team

# Database configurations require both Database team and Security team review
src/backend/db/*    @database-team @security-team

# Technical documentation is owned by Technical Writers and Project Leads
docs/*    @technical-writers @project-leads
