Repository blitzy-public-samples/whatsappbot-sx1cxc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @api-gateway-team, @security-team, @message-service-team, @contact-service-team, @template-service-team, @analytics-service-team, @frontend-team, @devops-team, @qa-team, @database-team, @technical-writers

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/routes/messages.ts
  src/backend/api-gateway/src/routes/messages.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/routes/templates.ts
  src/backend/api-gateway/src/routes/templates.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/services/auth.ts
  src/backend/api-gateway/src/services/auth.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/api-gateway/src/types/index.ts
  src/backend/api-gateway/src/types/index.ts
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/Dockerfile
  src/backend/contact-service/Dockerfile
Owners: @contact-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/README.md
  src/backend/contact-service/README.md
Owners: @contact-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/pyproject.toml
  src/backend/contact-service/pyproject.toml
Owners: @contact-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/requirements.txt
  src/backend/contact-service/requirements.txt
Owners: @contact-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/__init__.py
  src/backend/contact-service/src/__init__.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/app.py
  src/backend/contact-service/src/app.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/config.py
  src/backend/contact-service/src/config.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/models/__init__.py
  src/backend/contact-service/src/models/__init__.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/models/contact.py
  src/backend/contact-service/src/models/contact.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/models/group.py
  src/backend/contact-service/src/models/group.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/routes/__init__.py
  src/backend/contact-service/src/routes/__init__.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/routes/contacts.py
  src/backend/contact-service/src/routes/contacts.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/routes/groups.py
  src/backend/contact-service/src/routes/groups.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/routes/import.py
  src/backend/contact-service/src/routes/import.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/services/__init__.py
  src/backend/contact-service/src/services/__init__.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/services/contact_manager.py
  src/backend/contact-service/src/services/contact_manager.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/services/group_manager.py
  src/backend/contact-service/src/services/group_manager.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/contact-service/src/services/import_manager.py
  src/backend/contact-service/src/services/import_manager.py
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/db/migrations/000001_init_schema.down.sql
  src/backend/db/migrations/000001_init_schema.down.sql
Owners: @database-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/db/migrations/000001_init_schema.up.sql
  src/backend/db/migrations/000001_init_schema.up.sql
Owners: @database-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/db/migrations/000002_add_templates.down.sql
  src/backend/db/migrations/000002_add_templates.down.sql
Owners: @database-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/db/migrations/000002_add_templates.up.sql
  src/backend/db/migrations/000002_add_templates.up.sql
Owners: @database-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/db/migrations/000003_add_analytics.down.sql
  src/backend/db/migrations/000003_add_analytics.down.sql
Owners: @database-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/db/migrations/000003_add_analytics.up.sql
  src/backend/db/migrations/000003_add_analytics.up.sql
Owners: @database-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/db/schemas/analytics.sql
  src/backend/db/schemas/analytics.sql
Owners: @database-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/db/schemas/contacts.sql
  src/backend/db/schemas/contacts.sql
Owners: @database-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/db/schemas/messages.sql
  src/backend/db/schemas/messages.sql
Owners: @database-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/db/schemas/templates.sql
  src/backend/db/schemas/templates.sql
Owners: @database-team, @security-team

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/Dockerfile
  src/backend/message-service/Dockerfile
Owners: @message-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/Makefile
  src/backend/message-service/Makefile
Owners: @message-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/README.md
  src/backend/message-service/README.md
Owners: @message-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/go.mod
  src/backend/message-service/go.mod
Owners: @message-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/go.sum
  src/backend/message-service/go.sum
Owners: @message-service-team

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/internal/config/config.go
  src/backend/message-service/internal/config/config.go
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/internal/handlers/message_handler.go
  src/backend/message-service/internal/handlers/message_handler.go
Owners: @project-leads

Add public-samples/whatsappbot-sx1cxc/src/backend/message-service/internal/handlers/webhook_handler.go
  src/backend/message-service/internal/handlers/webhook_handler.go
Owners: @project-leads

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
*       @project-leads

# API Gateway service requires both API Gateway team and Security team review
src/backend/api-gateway/*    @api-gateway-team @security-team

# Message service ownership
src/backend/message-service/*    @message-service-team

# Contact service ownership
src/backend/contact-service/*    @contact-service-team

# Template service ownership
src/backend/template-service/*    @template-service-team

# Analytics service ownership
src/backend/analytics-service/*    @analytics-service-team

# Frontend application ownership
src/web/*    @frontend-team

# Infrastructure code requires both DevOps and Security team review
infrastructure/*    @devops-team @security-team

# Security configurations are owned by the Security team
config/security/*    @security-team

# Test suite ownership
src/test/*    @qa-team

# CI/CD workflows require both DevOps and Security team review
.github/workflows/*    @devops-team @security-team

# Database files require both Database team and Security team review
*.sql    @database-team @security-team

# Database configurations require both Database team and Security team review
src/backend/db/*    @database-team @security-team

# Technical documentation is owned by Technical Writers and Project Leads
docs/*    @technical-writers @project-leads
